@media only screen and (max-width:1160px) {
    
}
@media only screen and (max-width:992px) {
    
}
/* tab */
@media only screen and (max-width:768px) {
    #Header{
        background-size: cover;
    }
    .list{
        display: none;
    }
    .icon .search{
        display: none;
    }
    .icon .bar {
        display: block;
    }
    .header-content .header-p,.header-h1{
        width: 100%;
    }
    .our-text .p-our{
        width: 90%;
    }
    #ourteam .row{
        display: block;
     
    }
    #ourteam .row .col{
        width: 100%;
    }
    #dance .row{
        flex-direction: column;
    } 
    #dance .row .col{
        width: 100%;
    }
    .dance-main .p-dance{
        margin: 15px 0;
    }
    .dance-main {
        text-align: center;
    }
    #footer .row{
        display: block;
        text-align: center;
    }
    #footer .row .col-4{
        width: 100%;
    }
    #footer .row .col-6{
        width: 100%;
    }
    .footer-img {
        margin: 0 auto;
    }
    
    .p-footer {
        width: 100%;
    }
    #footer .row .col-6 .col {
        width: 100%;
    }
}
@media only screen and (max-width:576px) {
    .header-content .btn-header {
        padding: 10px 30px;
    }
}